.column {
  max-width: 7vw;
  min-width: 7vw;
  text-align: center;
  color: white;
}
.gold {
	background:conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800);
}

.silver {
	background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
}

.bronze {
	background:conic-gradient(#d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);
}